Flask==1.1.1
gunicorn
https://download.pytorch.org/whl/nightly/cpu/torch-1.5.0.dev20200218%2Bcpu-cp36-cp36m-linux_x86_64.whl
https://download.pytorch.org/whl/nightly/cpu/torchvision-0.6.0.dev20200218%2Bcpu-cp36-cp36m-linux_x86_64.whl